<!DOCTYPE HTML>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <!-- navbar -->
        <% include ./partials/navbar.ejs %>

        <!-- content -->
        <% include ./partials/aboutUs.ejs %>

        <% include ./partials/baseScripts.ejs %>
    </body>
</html>